@charset "ISO-8859-1";
body {
background-image:url(https://previews.123rf.com/images/ipopba/ipopba1810/ipopba181000090/109473096-digital-marketing-concept-blue-tone-modern-laptop-screen-with-icon-marketing-success-and-goals-targe.jpg);
	background-size: 1366px 768px;
}
.navbar {
	overflow: hidden;
	background-color: #333;
}

.navbar a{
	float: left;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar input{
width:200px;
text-align:center;
border:2px solid black;
margin-top:11px;
padding:14px 16px;
height:5px;
} 

.navbar button{
width:100px;
height:30px;
text-align:center;
border:2px solid black;
}

.iframe {
   position: absolute;
   top:65%;
   right: 0%;
   width: 1000px;
   height: 500px;
    backdrop-filter:blur(20px);
   margin-top:-320px;
   margin-right:20px;
   z-index: 999;
   border-radius:25px;
}


